@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
body {
  width: 100vw;
  overflow-x: hidden;
  font-family: "Open Sans";
}
main {
  min-width: 1000px;
}
::-webkit-scrollbar{
  display: none;
}
#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.header-custom {
  box-shadow: -1px 20px 20px -28px;
  z-index: 9;
}
.site-layout-background {
  background: #fff;
}
.logo {
  display: flex;
  /* width: 622px; */
  justify-content: center;
  padding: 6px 0px 0px 7px;
}
.w-100 {
  width: 100%;
}
.custom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.d-block {
  display: block;
}
.d-none {
  display: none;
}
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-content-right {
  justify-content: flex-end;
}
.justify-content-left {
  justify-content: flex-start;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.align-self-center {
  align-self: center;
}
.m-0 {
  margin: 0;
}
.mr-4 {
  margin-right: 4em;
}
.mr-3 {
  margin-right: 3em;
}
.mr-2 {
  margin-left: 2em;
}
.ml-1 {
  margin-left: 1em;
}
.ml-4 {
  margin-left: 4em;
}
.ml-3 {
  margin-left: 3em;
}
.ml-2 {
  margin-left: 2em;
}
.ml-1 {
  margin-left: 1em;
}
.mt-4 {
  margin-top: 4em;
}
.mt-3 {
  margin-top: 3em;
}
.mt-2 {
  margin-top: 2em;
}
.mt-1 {
  margin-top: 1em;
}
.mv-auto {
  margin: auto 5px;
}
.m-auto {
  margin: auto;
}
.h-100 {
  height: 100%;
}
.p-0 {
  padding: 0 !important;
}
.p-1 {
  padding: 1em;
}
.p-2 {
  padding: 2em;
}
.p-3 {
  padding: 4em;
}
.p-4 {
  padding: 4em;
}
.pt-1 {
  padding-top: 1em;
}
.font-28 {
  font-size: 28px;
}
.font-25 {
  font-size: 25px;
}

.font-20 {
  font-size: 20px;
}

.font-30 {
  font-size: 30px;
}
.b-default {
  background-color: #013766;
}
.b-default2 {
  background-color: #415bff;
}
.c-whrite {
  color: #fff;
}
.c-black {
  color: #000;
}

.c-orange {
  color: orange;
}
.c-red {
  color: red;
  margin-top: 360px;
}
.c-pointer {
  cursor: pointer;
}
.text-center {
  text-align: center;
  text-transform: capitalize;
}
.btn.published {
  background: #1bbc00;
}
.btn.sending {
  background: #f9e81a;
}
.btn.error {
  background: red;
}
.btn {
  padding: 0 8px;
  background: #013766;
  color: #fff;
  border: 0;
  border-radius: 5px;
}
/*menu*/
.menu {
  height: 90vh;
  border-right: 0;
  font-size: 20px;
  width: 190px;
  float: right;
}

.ant-menu-item-selected .ant-menu-item.ant-menu-item-active :hover {
  color: #000;
}
.menu .ant-menu-item-selected::after {
  position: absolute;
  left: 88.5%;
  right: 33.33%;
  top: 39.83%;
  bottom: 20.83%;
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border-right: 0.1em solid #fff;
  border-top: 0.1em solid #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 2px;
}
.menu li:hover {
  background: #f3f5f9 !important;
  color: black;
  border-radius: 5px;
}
.menu .ant-menu-item-selected::after :hover {
  color: #fff;
}
.menu .ant-menu-light .ant-menu-item:hover,
.ant-menu-light .ant-menu-item-active,
.ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-light .ant-menu-submenu-active,
.ant-menu-light .ant-menu-submenu-title:hover {
  color: #fff;
}
.menu .ant-menu-item-selected a {
  color: #000;
}
.ant-menu-submenu-arrow{
  color: #fff;
}
.ant-menu-submenu .ant-menu-submenu-arrow{
  color: #fff0;
  transition: 0.1s;
}
.ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow{
  color: #000;
  transition: 0.1s;
}
.ant-menu-item-selected:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow{
  color: #fff;
  transition: 0.1s;
}
.ant-menu-light .ant-menu-submenu-title:hover{
  color: #000;
}
.ant-menu-item-selected:hover .ant-menu-submenu-title{
  color: #fff;
}

/*end menu*/

/*head*/
.input-seach {
  width: 200px;
  border: 0;
}
/*end head*/

.card-custom {
  box-shadow: 10px 6px 10px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
}

.w-5 {
  width: 5%;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-30 {
  width: 30%;
}

.w-50 {
  width: 50%;
}

.text-uppercase {
  text-transform: uppercase;
}

.mb-1 {
  margin-bottom: 1em;
}

.mr-2 {
  margin-right: 2px;
}

.c-write {
  color: #fff;
}
.dot {
  height: 0.7rem;
  width: 0.5rem;
  background-color: rgb(248, 7, 7);
  border-radius: 50%;
  display: inline-block;
}
.table-default {
  /* margin-right: 32px; */
}
.header-details {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.backIcon {
  padding-left: 1.5rem;
}
.p-absolute {
  position: absolute;
}
